@import 'tailwindcss';
@plugin 'lightswind/plugin';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: 'astra';
  src: url("/public/fonts/ASTRA.woff2") format("woff2")
}
@font-face {
  font-family: 'epic';
  src: url("/public/fonts/GCEPICPRODemo-ExtraBold.woff2") format("woff2")
}
@font-face {
  font-family: 'opti';
  src: url("/public/fonts/OPTIUniversSixtySeven.woff2") format("woff2")
}

.progress{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #536B8B, #598491, #5F9C97, #66B59D, #6CCEA2, #72E6A8 ,#78FFAE);
  transform: scaleX(0);
  transform-origin: left center;
  z-index: 9500;
  pointer-events: none;
}
